/**.pem
/**.pub
# I dunno the suffix for private key, so,
/target/**
# user database for turnserver
/**.sql
/**.priv
# the one name I specifically used for a private key
/turn_key
# :mksession
/**.vim
# ctags
/tags
**.h264
/**.log
**.webm
**.csv
